.App {
  text-align: center;
}

body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer {
  text-align: center;
  margin-top: 5px;
}

small a {
  text-decoration: none;
  color: #068b78;
  font-weight: bolder;
}

small a:hover {
  text-decoration: none;
  color: #068b78;
  font-weight: bolder;
}
