.App {
  text-align: center;
}

header {
  margin: 30px 0;
  color: rgb(0, 124, 185);
}

body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer {
  text-align: center;
  margin: 30px 0;
}

small a {
  text-decoration: none;
  color: rgb(115, 177, 193);
  font-weight: bolder;
}

small a:hover {
  text-decoration: none;
  color: rgb(115, 177, 193);
  font-weight: bolder;
}
