.App {
  max-width: 906px;
  margin: 0 auto;
}

body {
  background: #f1e8a7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  margin: 5px 0;
  color: rgb(85, 133, 181);
}

footer {
  text-align: center;
  margin: 30px 0;
}

small a {
  text-decoration: none;
  color: #61b292;
  font-weight: bolder;
}

small a:hover {
  text-decoration: none;
  color: #61b292;
  font-weight: bolder;
}
