form {
  text-align: center;
}

input[type="search"] {
  border: 1px solid #61b292;
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  font-size: 18px;
  max-width: 100%;
  color: #70757a;
  margin-bottom: 4px;
}

input[type="search"]:hover {
  border: 1px solid #61b292;
}

#search-button {
  border: 1px solid #61b292;
  padding: 4px 10px;
  font-size: 18px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #61b292;
  color: white;
}

#search-button:hover {
  color: #61b292;
  background-color: white;
}

section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
