form {
  text-align: center;
}

input[type="search"] {
  border: 1px solid #3dbdc2;
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  font-size: 18px;
  max-width: 100%;
  color: #70757a;
  margin-bottom: 4px;
}

input[type="search"]:hover {
  border: 1px solid #3dbdc2;
}

#search-button {
  border: 1px solid #3dbdc2;
  padding: 4px 10px;
  font-size: 18px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #3dbdc2;
  color: white;
}

#search-button:hover {
  color: #3dbdc2;
  background-color: white;
}

section {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0 0 0 / 10%);
  margin: 20px;
  float: left;
  width: 96%;
  background: white;
}
