input[type="search"] {
  border: 1px solid #068b78;
  background-color: #f4f6f6;
  border-radius: 4px;
  padding: 4px;
  font-size: 18px;
  max-width: 100%;
  color: #068b78;
  margin-bottom: 4px;
}

input[type="search"]:hover {
  border: 1px solid #068b78;
}

#search-button {
  border: 1px solid #068b78;
  padding: 4px 10px;
  font-size: 18px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #f7f2f2;
  color: #068b78;
}

#search-button:hover {
  color: #f7f2f2;
  background-color: #068b78;
}
